{% extends 'base.html' %}

{% block title %}Sign in{% endblock %}

{% block content %}
<h2 class="text-center">Press Sign In</h2>
<hr>
<div class="mw-50" style="height:500px;">
    <form action="/" class="form-signin col-4 mx-auto">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="email" id="inputPassword" class="form-control" placeholder="Password" required>
        <label class="my-3">
            <input type="checkbox"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block">Sign In</button>
    </form>
    <div class="text-center my-3">
        <p class="mb-0"><a class="text-muted" href="/">Forgot id?</a></p>
        <p><a class="text-muted" href="/">Forgot password?</a></p>
    </div>
</div>
{% endblock %}