<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">마음이</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link signin" data-toggle="modal" data-target="#Signin">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link signup" data-toggle="modal" data-target="#Signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">마음이 소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/analysis/intro/">HTP 검사</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">그림 상담</a>
          </li>

        </ul>
      </div>
    </nav>